<div class="post">
    <header class="title-wrapper">
        <% if (is_home()) { %>
            <h1>
                <a class="title" href="<%- url_for(post.path) %>">
                    <%= post.title %>
                </a>
            </h1>
        <% } else { %>
            <h1>
                <span class="title">
                    <%= post.title %>
                </span>
            </h1>
        <% } %>
        <ul class="description">
            <% if (post.top) { %>
                <li>
                    <i class="fa fa-thumb-tack"></i> 置顶
                </li>
            <% } %>
            <li>
                <%- post.date.format('YYYY年M月D日') %>
            </li>
            <% if (post.path.indexOf('about') === -1) { %>
                <li>
                <% post.categories.forEach(function(category, index) { %>
                    <a href="<%- url_for(config.category_dir + '/' + category.name) %>">
                        <% if (index < post.categories.length - 1) { %>
                            <%= category.name + ' ' %>
                        <% } else { %>
                            <%= category.name %>
                        <% } %>
                    </a>
                <% }) %>
                </li>
            <% } %>
        </ul>
    </header>
    
    <section class="markdown-body">
        <% if (post.excerpt && is_home()) { %>
            <%- post.excerpt %>
        <% } else { %>
            <%- post.content %>
        <% } %>
    </section>
    <script>
        (document.onload = () => {
            const figcaptions = document.querySelectorAll('.highlight figcaption')

            for(let item of figcaptions) {
                if(item.innerText.match(/false/)) {
                    const tbody = item.parentElement.querySelector('tbody')
                    const span = item.querySelector('span')

                    span.innerText = span.innerText.replace(/ false/, '（点击展开）')
                    tbody.style.display = 'none'
                }
            }

            for(let item of figcaptions) {
                const span = item.querySelector('span')

                span.addEventListener('click', (e) => {
                    const figcaption = e.path[0]
                    const codeblock = e.path[2]
                    const tbody = codeblock.getElementsByTagName('tbody')[0]
    
                    switchCodeblock(figcaption, tbody)
                })
            }
        })()

        function switchCodeblock(figcaption, tbody) {
            let display = tbody.style.display

            if(display === 'none') {
                tbody.style.display = 'block'
                figcaption.innerText = figcaption.innerText.replace(/（点击展开）/, '')
            } else {
                tbody.style.display = 'none'
                if(figcaption.innerText.match(/（点击展开）/) === null) {
                    figcaption.innerText += '（点击展开）'
                }
            }
        }
    </script>
</div>